# This file contains common pin mappings for the Raspberry Pi 4 GPIO
# To use this config, the firmware should be compiled for "Linux process"

# See https://www.klipper3d.org/Config_Reference.html for a description of
# parameters.

[mcu pi]
serial: /tmp/klipper_host_mcu

[temperature_sensor host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


#[adxl345]
#cs_pin: pi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    100, 100, 20  # an example
