[firmware_retraction]
retract_length: 1
  # The length of filament (in mm) to retract when G10 is activated,
  # and to unretract when G11 is activated (but see
  # unretract_extra_length below). The default is 0 mm.
retract_speed: 40
  # The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.2
  # The length (in mm) of *additional* filament to add when
  # unretracting.
unretract_speed: 30

[gcode_macro SAFE_RETRACT]
description: Retract
gcode:
  SAVE_GCODE_STATE NAME=safe_retract

  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83 ;Relative extrusion
    G91 ;Relative positioning

    G10 ;Retract filament
    G1 Z0.2 F2400 ;Raise Z
    G1 E-2 F300 ;Retract filament 2mm to prevent oozing
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

  RESTORE_GCODE_STATE NAME=safe_retract